/* FONTS */

@font-face {
    font-family: ProximaNova;
    src: url(/fonts/ProximaNova-Regular.ttf)
}

@font-face {
    font-family: ProximaNovaBold;
    src: url(/fonts/ProximaNova-Bold.ttf);
}


/*======================MAIN PART=======================*/

body {
    background: #1c1c1c;
}

hr {
    border: none;
    background-color: #313131;
    color: #313131;
    /* For IE6-7 */
    height: 2px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: ProximaNovaBold;
    letter-spacing: 0.025em;
}

.button {
    -ms-transform: skewX(-11deg);
    /* IE 9 */
    -webkit-transform: skewX(-11deg);
    /* Safari */
    transform: skewX(-11deg);
    padding: 12px 42px 12px 42px;
    border: 2px solid #fff;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-family: ProximaNovaBold;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    background: transparent;
    transition: 0.6s;
}

.button:hover {
    transform: scale(1.2) skewX(-11deg);
    cursor: pointer;
}

.button-text {
    -ms-transform: skewX(11deg);
    /* IE 9 */
    -webkit-transform: skewX(11deg);
    /* Safari */
    transform: skewX(11deg);
    /*  padding: 20px;*/
}


/*=======================HEADER=========================*/

header {
    background: url(../img/header_bg.jpg) no-repeat #291911;
    background-size: cover;
}

.header__nav img[alt="Logotype"] {
    margin-top: 83px;
    margin-bottom: 75px;
    margin-left: 10px;
}

.header__nav li,
.header__nav a {
    display: inline-block;
    font-family: ProximaNovaBold;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.025em;
    transition: 0.5s;
    margin-top: 40px;
}

.header__nav a:hover {
    color: #f0f0f0;
    text-decoration: none;
    transform: scale(1.2);
}

.header__nav li:nth-child(-n+3) {
    margin-right: 40px;
}

.header__nav button {
    margin: 65px 0 0 27px;
}

.header__title h1 {
    font-family: ProximaNovaBold;
    font-size: 106px;
    color: #ffffff;
    letter-spacing: 0.025em;
    margin-bottom: 40px;
}

.header__title p {
    font-family: ProximaNova;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.025em;
    margin-bottom: 45px;
}

.header__title button {
    margin: auto;
    margin-bottom: 180px;
    display: flex;
}

.header__title img {
    margin-bottom: 200px;
    transition: 0.5s;
}

.header__title img:hover {
    transform: scale(1.2);
    cursor: pointer;
}


/*========================READMORE==================*/

.readmore__text h2 {
    color: #ffffff;
    font-size: 48px;
    margin: 120px 0 50px 20%;
}

.readmore__text p {
    font-family: ProximaNova;
    font-size: 20px;
    color: #6e6e6e;
    margin: 0 0 40px 20%;
}

.readmore__text .button {
    margin: 25px 0 180px 20%;
}

.readmore__img {
    background: url(../img/readmore_drone.jpg) no-repeat center center;
    background-size: contain;
}


/*=======================VIDEO==============*/

.video {
    padding: 0;
}

.video iframe {
    height: 110vh;
    width: 100%;
    /*border: none;*/
}


/*=====================SERVICES======================*/

.services__heading h2 {
    color: #ffffff;
    font-size: 48px;
    margin: 80px 0 25px 0;
}

.services__heading p {
    color: #6e6e6e;
    margin-bottom: 90px;
    font-family: ProximaNova;
    font-size: 16px;
}

.services__block1 h3,
.services__block2 h3,
.services__block3 h3 {
    color: #ffffff;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 26px;
}

.services__block1 p,
.services__block2 p,
.services__block3 p {
    color: #6e6e6e;
    font-family: ProximaNova;
    font-size: 16px;
    margin: 15px 0 120px 0;
}


/*===================Specifications================*/

.specifications__heading h2 {
    color: #fff;
    font-size: 42px;
    margin: 120px 0 40px 0;
}

.specifications__heading p {
    color: #6e6e6e;
    font-size: 16px;
    margin-bottom: 110px;
}

.specifications-img {
    background: url(../img/specifications_drone.png) no-repeat center center;
    background-size: contain;
    justify-content: start;
}

.specifications__leftcol {
    margin-left: 15%;
    margin-bottom: 100px;
}

.specifications__leftcol h5,
.specifications__rightcol h5 {
    font-size: 16px;
    color: #6e6e6e;
}

.specifications__leftcol p,
.specifications__rightcol p {
    color: #ffffff;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 40px;
}


/*======================MOUNTS==========================*/

.mounts {
    background-color: #fff;
}

.mounts h2 {
    font-size: 46px;
    color: #1e2227;
    margin: 120px 0 30px 0;
}

.mounts p {
    font-size: 16px;
    color: #6e6e6e;
    margin-bottom: 100px;
}


/*======ADJUST CAROUSEL=====*/

.carousel-inner {
    max-width: 650px;
    max-height: 500px;
    justify-content: center;
}

.carousel-indicators li {
    background-color: #1c1c1c;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    bottom: 15%;
}

.carousel-control-prev {
    left: -25%;
}

.carousel-control-next {
    right: -25%;
}


/*=============================TOCART======================*/

.tocart__center h2 {
    font-family: 48px;
    color: #ffffff;
    margin: 120px 0 30px 0;
}

.tocart__center p {
    font-size: 16px;
    color: #6e6e6e;
    margin-bottom: 80px;
}

.tocart__card1,
.tocart__card2,
.tocart__card3 {
    background-color: #fff;
    padding: 0;
    flex: 0 0 32%;
    margin-bottom: 60px;
}

.tocart__card1 img,
.tocart__card2 img,
.tocart__card3 img {
    margin: 100px 20px 60px 20px;
    /* max-width: inherit;
    -webkit-fill-available*/
    object-fit: cover;
    max-width: 90%
}

.dark {
    background-color: #000;
    margin: 10px 0 30px 0;
}

.tocart__card1 h5,
.tocart__card2 h5,
.tocart__card3 h5 {
    font-size: 24px;
}

.tocart__card1 p,
.tocart__card2 p,
.tocart__card3 p {
    font-size: 34px;
    font-family: ProximaNovaBold;
}


/*==================================FOOTER==========================*/

.footer li,
.footer a {
    display: inline-block;
    font-size: 16px;
    color: #5e5e5e;
    margin-top: 20px;
    transition: 0.5s;
}

.footer li,
.footer a:hover {
    text-decoration: none;
    transform: scale(1.2);
    color: #6e6e6e;
}

.footer ul {
    margin-top: 30px;
}

.footer li,
.footer a:nth-child(-n+2) {
    margin-right: 20px;
}

.footer img {
    margin: 50px 0 80px 0;
    transition: 0.4s;
}

.footer img:nth-child(-n+3) {
    margin-right: 8px;
}

.footer img:hover {
    filter: invert(20%);
    cursor: pointer;
    transform: scale(1.1);
}

.footer__info,
.footer__rights {
    color: #5e5e5e;
}

.footer__info p {
    margin-bottom: 100px;
    font-size: 22px;
}

.footer__info a[href="mailto:info@gmail.com"] {
    text-decoration: underline;
    transition: 0.5;
}

.footer__info a[href="mailto:info@gmail.com"]:hover {
    color: #918b8b;
    transform: scale(1.1);
}

.footer__info a[href="tel:+1800123456"] {
    color: #fff;
    font-family: ProximaNovaBold;
    font-size: 18px;
    transition: 0.5;
}

.footer__info a[href="tel:+1800123456"]:hover {
    color: #c5bebe;
    text-decoration: none;
    transform: scale(1.1);
}

.footer__rights p {
    margin-bottom: 60px;
    font-size: 16px;
}